.habilidades{
    width: 100%;
  
  }
  
  
  .habilidades-mobile .blocagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: white;
    font-family: 'Fredoka', sans-serif;
    gap: 5rem;
  }
  
  .habilidades-mobile .blocagem .container-botoes{
    width: 100%;
  }

.container-botoes .blocagem-botoes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    margin-inline: 5rem;
  }

  

  .habilidades-mobile{
    display: none;
    overflow: hidden;
    margin-bottom: 3rem;
  }
  
  .habilidades-mobile .bloco-esquerdo img{
    width: 20rem;
      transform: translateY(-2%);
  animation: floater 4s infinite;
  }
  
  .habilidades-mobile .bloco-meio{
    height: 50%;
    width: 2px;
    background: #ffbb00;
  }
  
  .habilidades-mobile .bloco-direito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .habilidades-mobile .bloco-direito .titulo-bloco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  
  .habilidades-mobile .bloco-direito .titulo-bloco h1{
    font-size: 2.2rem;
    }
  .habilidades-mobile .bloco-direito .titulo-bloco span{
  color: #777;
  }
  
  .barras{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }
  
  .habilidade .titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6rem;
    font-size: 1.2rem;
  }
  .habilidade .titulo .nome{
    display: flex;
    flex-direction: column;
    font-size: 1.02rem;
    letter-spacing: 0.02rem;
  }
  
  .habilidade .titulo .warning{
    color: #777;
    font-size: 0.9rem;
  }
  
  @media (max-width: 820px)
{

  .modal-cv{
    font-family: 'Fredoka', sans-serif;
    display: none;
    position: fixed;
    z-index: 3;
  
  }
  
  .modal-cv .conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(250, 250, 250);
    background: #1c1d1f;
    padding: 1.5rem;
    display: block;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    float: right;
    transform: translate(-50%, -50%);
    margin-top: -2vh;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.712));
    border-radius: 1rem;
  
  }
  
  .modal-cv-fundo{
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0%;
    width: 300vw;
    height: 300vh;
    background-color: rgba(7, 7, 7, 0.521)
  }

  .modal-cv .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
  }

  .modal-cv .container h2{
    width: 15rem;
  }
  
  .modal-cv .botoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .modal-cv .conteudo a:nth-child(1),  .modal-cv .conteudo a:nth-child(2) {
    width: 100%;
  }



  .arrow-down img{
    display: none;
  }

  .aviso-topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw; 
    color: white; 
    padding: 2rem;
  }

  body {
    font-size: 100%;
    background: url('bg-stars.png'), #1C1D1F;
    background-position: top;
    background-repeat: repeat;
    font-family: 'Fredoka', sans-serif;
    overflow-x: hidden;
  }

  .habilidades{
    display: none;
  }

.navbar-inicio{
    display:none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 2rem;
    font-family: 'Fredoka', sans-serif;
    font-size: 2.7vmin;
    padding-top: 1.4rem;
    transition: top 0.3s;

}


.navbar-inicio img{
    width: 10vmin;
    transition   : 150ms ease-in-out;
}




.inicio {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;

}

.inicio .blocagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.inicio .principal-caixatexto{
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    
}

.inicio .ola-text{
    padding-top: 8vmin;
    font-size: 13vmin;
}
.inicio .eddie-text{
    font-family: 'Source Code Pro', monospace;
    font-size: 5vmin;
    letter-spacing: 0.7vmin;
    color: antiquewhite;
}
.inicio .legenda-text{
    padding-top: 1vmin;
    font-size: 5.4vmin;
}
.inicio .principal-caixaimagem img{
    width: 62vmin;
      transform: translateY(-2%);
  animation: floater 4s infinite;
}


 .habilidades-mobile{
  display: block;
 }
 
  .habilidades-mobile .blocagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .sobre-mim .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .sobre-mim .conteudo-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 1.6rem;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-inline: 4rem;
  
  }
  
  .sobre-mim .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    max-height:max-content;
  
  }

  .sobre-mim .card .conteudo h1 {
    font-size: 1.6rem;
  }
  
  .sobre-mim .card .conteudo span {
    font-size: 0.9rem;
    line-height: 1.23rem;
  }
  
  .formulario {
    margin-inline: 0rem;
    
  }


  .contato-input {
    border: none;
    border-bottom: 1px solid #ffffff;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: #24242400;
    color: #ffffff;
    width: 70vmin;
    transition: all 0.5s ease;
  }
  
  .contato-input-mensagem{
    border: none;
    font-family: 'Fredoka', sans-serif;
    border-bottom: 1px solid #ffffff;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: #24242400;
    color: #e9e9e9;
    width: 70vmin;
    transition: all 0.5s ease;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
    resize: none;
  }

/*---------PROJETOS----------*/

.projetos{
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 5rem;
  margin-bottom: 6rem;
}

.projetos .blocagem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 1.2rem;
}

.projetos .blocagem .box{
  display: grid;
  grid-template-columns: 100%;
  gap: 1.4rem;
  row-gap: 2.2rem;
}

.box .card {
  width: auto;
  color: white;
  background: rgba(20, 20, 20, 0.979);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.26s ease;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.863);
}

.box .card:hover {
  border: 1px solid #ffbb00;
  box-shadow: 0px 0px 14px #ffbb00b2;
}
.box .card .imagem img{
  width: 100%;
  border-radius: 0.3rem;
}

.box .card .imagem video{
  width: 100%;
  border: 1px solid rgba(5, 5, 5, 0);
  border-radius: 0.3rem;
}

.box .card .container{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2rem;
}

.box .card .header{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box .card .header .titulo{
  font-size: 1.1rem;
}

.box .card .descricao{
  font-size: 0.9rem;
}

.box .card .header .tecnologias{
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  font-size: 1.2rem;
}

.box .card .header .tecnologias i{
  transition: all 0.2s ease;
}

.box .card .header .tecnologias i:hover{
  color: #ffbb00;
  transform: translateY(2px);
}

.box .card .botoes{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding-top: 1rem;
}

.box .card .descricao,.box .card .titulo {
transition: all 0.4s ease;
}

.box .card .descricao:hover,.box .card .titulo:hover{
  cursor: default;
  transform: translateY(2px);
}

.box .card .botoes button{
  align-items: center;
  width: 50%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-inline: 0.4rem;
  font-size: 1.24rem;
  font-family: 'Fredoka', sans-serif;
  border-radius: 0.4rem;
  border: 0px solid black;
  cursor: pointer;
  color: white;
  background: #272727;
  transition: all 0.2s ease;
  letter-spacing: 0.02rem;
}

.box .card .botoes button:hover{
  color: black;
  background: #ffbb00;
}

}