@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Righteous&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}


body {
  font-size: 100%;
  background: url('bg-stars.png'), #1C1D1F;
  background-repeat: repeat;
  font-family: 'Fredoka', sans-serif;
  overflow-x: hidden;
}

.aviso-topo{
  display: none;
}

.navbar-inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 2rem;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.2rem;
  padding-top: 1.4rem;
  transition: top 0.3s;
}

.opcao {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  padding-top: 9px;
}

.opcao::after {
  display: block;
  content: '';
  padding-top: 6px;
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
}

.opcao:hover::after {
  transform: scaleX(1);
}

.imagem-logo {
  overflow: visible;
  cursor: pointer;
}

.navbar-inicio img {
  width: 5rem;
  transition: 150ms ease-in-out;
}

.navbar-inicio img:hover {
  transform: scale(1.1);
}


.inicio {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;

}

.arrow-down img{
  width: 2.5rem;
}

.inicio .blocagem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.inicio .principal-caixatexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.inicio .ola-text {
  font-size: 15vmin;
}

.inicio .eddie-text {
  font-family: 'Source Code Pro', monospace;
  font-size: 5vmin;
  letter-spacing: 1.2vmin;
  color: antiquewhite;
}

.inicio .legenda-text {
  padding-top: 1rem;
  font-size: 5vmin;
}

.inicio .principal-caixaimagem img {
  width: 50vmin;
  transform: translateY(-2%);
  animation: floater 4s infinite;
}


@keyframes floater {
  0% {
    transform: translateY(-2%);
    transition: ease 0.2s;
  }

  50% {
    transform: translateY(7%);
    transition: ease 0.9s;
  }

}

.sobre-mim{
  overflow: hidden;
}

.sobre-mim .fundo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: all 0.2s;
  gap: 3rem;
  margin-bottom: 5rem;
}

.sobre-mim .header , .projetos .header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.sobre-mim .titulo , .projetos .titulo {
  font-size: 2.2rem;
}



.sobre-mim .conteudo-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-inline: 10rem;
  margin-top: 5rem;
}



.sobre-mim .card {
  margin: 1px;
  padding: 20px;
  width: 40rem;
  height: auto;
  min-height: 200px;
  border: 2px solid white;
  border-radius: 0.4rem;
  cursor: default;
}


.sobre-mim .card .conteudo {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

}
.sobre-mim .card .conteudo .titulo{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 gap: 0.8rem;
}
  
.sobre-mim .card .conteudo img{
width:3rem;
transform: scaleX(-1);
}

.sobre-mim .card .conteudo h1 {
  font-size: 1.8rem;
}

.sobre-mim .card .conteudo span {
  font-size: 1.1rem;
}







.habilidades {
  width: 100%;
  overflow: hidden;

}


.habilidades .blocagem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5rem;
  color: white;
  font-family: 'Fredoka', sans-serif;
  gap: 5rem;
}

.habilidades .bloco-esquerdo img {
  width: 30rem;
  transform: translateY(-2%);
  animation: floater 4s infinite;
}

.habilidades .bloco-meio {
  height: 50%;
  width: 2px;
  background: #ffbb00;
}

.habilidades .bloco-direito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.habilidades .bloco-direito .titulo-bloco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.habilidades .bloco-direito .titulo-bloco h1 {
  font-size: 2.2rem;
}


.habilidades .bloco-direito .titulo-bloco span {
  color: rgb(158, 158, 158);
}

.barras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.habilidade .titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6rem;
  font-size: 1.2rem;
}

.habilidade .titulo .nome {
  display: flex;
  flex-direction: column;
  font-size: 1.02rem;
  letter-spacing: 0.02rem;
}

.habilidade .titulo .nome i{
  font-size: 1.2rem;

}

.habilidade .titulo .warning {
  color: #777;
  font-size: 0.9rem;
}


.progress {
  height: 9px;
  background-color: #777;
  position: relative;
  width: 22.5rem;
}

.progress .progress-bar-html {
  position: absolute;
  height: 100%;
  background-color: #ffbb00;
  width: 70%;
  animation: progress-70 1.5s normal;
}

.progress .progress-bar-js {
  position: absolute;
  height: 100%;
  background-color: #ffbb00;
  width: 10%;
  animation: progress-10 1.5s normal;
}

.progress .progress-bar-90 {
  position: absolute;
  height: 100%;
  background-color: #ffbb00;
  width: 90%;
  animation: progress-90 1.5s normal;
}

.progress .progress-bar-80 {
  position: absolute;
  height: 100%;
  background-color: #ffbb00;
  width: 80%;
  animation: progress-80 1.5s normal;
}

.progress .progress-bar-70 {
  position: absolute;
  height: 100%;
  background-color: #ffbb00;
  width: 70%;
  animation: progress-70 1.5s normal;
}

.progress .progress-bar-60 {
  position: absolute;
  height: 100%;
  background-color: #ffbb00;
  width: 60%;
  animation: progress-60 1.5s normal;
}

.contato{
margin-bottom: 6rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 20rem;
  
}

.formulario .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4vmin;
  color: #f7f5f5;
}

.formulario .titulo {
font-size: 1.8rem;
}
.formulario .subtitulo, .sobre-mim .subtitulo {
  color: rgb(158, 158, 158);
  }
  
  


.conteudo-form{
  display: flex;
  flex-direction: column;
  gap: 3vmin;
}

.contato-input {
  border: none;
  border-bottom: 1px solid #ffffff;
  font-size: 1.2rem;
  padding: 0.8rem;
  background-color: #24242400;
  color: #ffffff;
  width: 40rem;
  transition: all 0.5s ease;
}

.contato-input-mensagem{
  border: none;
  font-family: 'Fredoka', sans-serif;
  border-bottom: 1px solid #ffffff;
  font-size: 1.2rem;
  padding: 0.8rem;
  background-color: #24242400;
  color: #e9e9e9;
  width: 40rem;
  transition: all 0.5s ease;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
  resize: none;
}

.formulario button{
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
  font-family: 'Fredoka', sans-serif;
  border: none;
  padding: 0.6rem;
  font-size: 2rem;
  background-color: #ffbb00;
  transition: 2 all ease;
  border-radius: 0.5vmin;
  

}

.formulario button:hover{
  background-color: #ffbb00;
  cursor: pointer;
}


.contato-input-mensagem:focus {
  outline: none;
  border-bottom: 1px solid #ffbb00;
}

.contato-input:focus {
  outline: none;
  border-bottom: 1px solid #ffbb00;
}

.formulario .opcao-input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2vmin;
}





.rodapé {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-top: 1px solid white;
  width: 100%;
  color: white;
}


.rodapé .conteudo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.rodapé span {
  font-size: 1.2rem;
}

/*---------PROJETOS----------*/

.projetos{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 6rem;
  overflow-x: hidden;
}

.projetos .blocagem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 25em;
}

.projetos .blocagem .box{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1.4rem;
  row-gap: 2.2rem;
}

.box .card {
  width: 36rem;
  color: white;
  background: rgba(20, 20, 20, 0.979);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.863);
}

.box .card:hover {
  border: 1px solid #ffbb00;
  box-shadow: 0px 0px 14px #ffbb00b2;
}
.box .card .imagem img{
  width: 100%;
  border-radius: 0.3rem;
}

.box .card .imagem video{
  width: 100%;
  border: 1px solid rgba(5, 5, 5, 0);
  border-radius: 0.3rem;
}

.box .card .container{
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2rem;
}

.box .card .header{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box .card .header .titulo{
  font-size: 1.85rem;
}

.box .card .header .tecnologias{
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  font-size: 1.7rem;
}

.box .card .header .tecnologias i{
  transition: all 0.2s ease;
}

.box .card .header .tecnologias i:hover{
  color: #ffbb00;
  transform: translateY(2px);
}

.box .card .botoes{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  padding-top: 1rem;
}

.box .card .descricao,.box .card .titulo {
transition: all 0.4s ease;
}

.box .card .descricao:hover,.box .card .titulo:hover{
  cursor: default;
  transform: translateY(2px);
}

.box .card .botoes button{
  align-items: center;
  width: 50%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 1.24rem;
  font-family: 'Fredoka', sans-serif;
  border-radius: 0.4rem;
  border: 0px solid black;
  cursor: pointer;
  color: white;
  background: #272727;
  transition: all 0.2s ease;
  letter-spacing: 0.02rem;
}

.box .card .botoes button:nth-child(2){
  font-size: 1.5rem;
  color: black;
  background: #ffbb00;
}

.box .card .botoes button:hover{
  transform: scale(0.96);
}




.header .titulo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header .titulo .corvo-inverte img{
  transform: scaleX(-1) translateY(0.3rem);
}



.header .titulo img{
  transform: translateY(0.3rem);
  width: 3rem;
}




@keyframes progress-10 {
  0% {
    width: 0%;
  }

  100% {
    width: 10%
  }

}

@keyframes progress-40 {
  0% {
    width: 0%;
  }

  100% {
    width: 40%
  }

}

@keyframes progress-50 {
  0% {
    width: 0%;
  }

  100% {
    width: 50%
  }

}

@keyframes progress-60 {
  0% {
    width: 0%;
  }

  100% {
    width: 60%
  }

}

@keyframes progress-70 {
  0% {
    width: 0%;
  }

  100% {
    width: 70%
  }

}

@keyframes progress-80 {
  0% {
    width: 0%;
  }

  100% {
    width: 80%
  }

}

.blocagem-botoes{
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 10rem;
}

.blocagem-botoes a:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.24rem;
  font-family: 'Fredoka', sans-serif;
  border-radius: 0.4rem;
  border: 0px solid black;
  cursor: pointer;
  color: white;
  background: #302f2f00;
  border: 2px solid #ffbb00;
  transition: all 0.2s ease;
  letter-spacing: 0.02rem;
  font-weight: bold;
}

.blocagem-botoes a:nth-child(2){
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.24rem;
  font-family: 'Fredoka', sans-serif;
  border-radius: 0.4rem;
  border: 2px solid #ffbb00;
  cursor: pointer;
  color: black;
  background: #ffbb00;
  transition: all 0.2s ease;
  letter-spacing: 0.02rem;
  font-weight: bold;
}












.modal-cv{
  font-family: 'Fredoka', sans-serif;
  display: none;
  position: fixed;
  z-index: 3;

}

.modal-cv .conteudo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(250, 250, 250);
  background: #1c1d1f;
  padding: 1.5rem;
  display: block;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  float: right;
  transform: translate(-50%, -50%);
  margin-top: -2vh;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.712));
  border-radius: 1rem;

}

.modal-cv-fundo{
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0%;
  width: 300vw;
  height: 300vh;
  background-color: rgba(7, 7, 7, 0.521)
}

.modal-cv .botao-fechar{
  position: fixed;
  z-index: 1;
  top: 1rem;
  right: 1rem;
}

.modal-cv .botao-fechar{
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.3s;
  font-stretch: expanded;
  font-weight: bold;
  -webkit-transform:scale(1.2,1); /* Safari and Chrome */
    -moz-transform:scale(1.2,1); /* Firefox */
    -ms-transform:scale(1.2,1); /* IE 9 */
    -o-transform:scale(1.2,1); /* Opera */
    transform:scale(1.2,1); /* W3C */

}

.modal-cv .botao-fechar:hover{
  color: #ffbb00;
}


.modal-cv .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
}

.modal-cv .botoes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.modal-cv .conteudo a:nth-child(1){
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.24rem;
  font-family: 'Fredoka', sans-serif;
  border-radius: 0.4rem;
  border: 0px solid black;
  cursor: pointer;
  color: white;
  background: #302f2f00;
  border: 2px solid #ffbb00;
  transition: all 0.2s ease;
  letter-spacing: 0.02rem;
  font-weight: bold;
}

.modal-cv .conteudo a:nth-child(2){
  display: flex;
  flex: row;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  align-items: center;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.24rem;
  font-family: 'Fredoka', sans-serif;
  border-radius: 0.4rem;
  border: 2px solid #ffbb00;
  cursor: pointer;
  color: black;
  background: #ffbb00;
  transition: all 0.2s ease;
  letter-spacing: 0.02rem;
  font-weight: bold;
}

.blocagem-botoes a:hover{
  transform: translateY(5%);
}





/*-------EFEITO ESCREVENDO-------*/
.eddie-text {
  width: max-content;
  position: relative;
}

.eddie-text::before,
.eddie-text::after {
  content: '';
  position: absolute;
  inset: 0;
}

.eddie-text::before {
  background: #0e0e0e;
  animation: typing 1000ms steps(25) 1.25s forwards;
}

.eddie-text::after {
  width: .2rem;
  background: rgb(255, 255, 255);
  animation: typing 1000ms steps(25) 1.25s forwards, bopcao 800ms infinite;
}

@keyframes typing {
  to {
    left: 100%;
  }
}

@keyframes bopcao {
  to {
    background: transparent;
  }
}

/*-------EFEITO ESCREVENDO-------*/


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #c2c2c2 #363636;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 18px;
}

*::-webkit-scrollbar-track {
  background: #363636;
}

*::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 10px;
  border: 4.5px solid #363636;
}